# pythorch 1.13.0 cu117
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.0+cu117 
torchvision==0.14.0+cu117 
torchaudio==0.13.0 

setproctitle
timm==0.6.11
transforms3d
imageio
pypng
scipy
chardet
numba
# install detectron2
# git clone https://github.com/facebookresearch/detectron2.git
# cd detectron2 && pip install -e .

# install mmcv-full
# pip install -U openmim
# mim install mmcv-full